@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --cyan-color: #4D96A9;
  --cyan-lightcolor: rgb(143, 227, 249);
  --purple-color: #855FB1;
  --purple-lightcolor: rgb(217, 184, 255);
  --slate-color: #28283D;
  --slate-lightcolor: #87879D;
  --white-color: #FAFAFA;
}

body {
  margin: 0;
  font-family: "Red Hat Display", serif;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1120px;
  margin: 0 auto;
}

nav {
  text-align: center;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-contents {
  margin-top: 87px;
  text-align: center;
  max-width: 450px;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 110%;
  color: var(--slate-color);
}

span {
  color: var(--cyan-lightcolor);
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--slate-lightcolor);
}

.hero-description {
  margin-block: 32px;
}

.left-img {
  margin-left: -25px;
}

.right-img {
  margin-right: -25px;
}

button {
  border: none;
  color: white;
  padding: 16px 40px;
  border-radius: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
}



.download-btn {
  background: var(--cyan-color);
}

.what-btn {
  background: var(--purple-color);
}

.tablet-img {
  display: none;
}

.phone-img {
  display: none;
}

/* MEETING SECTION */

.meeting-section {
  margin-top: 72px;
  text-align: center;
}

.number-divider {
  text-align: center;
}

.meeting-images img {
  width: 100%;

}

.meeting-images {
  margin-block: 64px;
}

.meeting-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  overflow-x: hidden;
}

.meeting-description {
  max-width: 545px;
  margin: 0 auto;
}

.meeting-header {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 110%;
  color: var(--cyan-color);
}

.meeting-subheader {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  padding-inline: 50px;
  margin-top: 16px;
  margin-bottom: 32px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {

  .hero-section {
    margin-top: 64px;
    overflow-x: hidden;
  }

  .left-img {
    display: none;
  }

  .right-img {
    display: none;
  }

  .tablet-img {
    display: block;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }
}

@media screen and (max-width: 700px) {

  .hero-section {
    margin-top: 64px;
    overflow-x: hidden;
  }

  .left-img {
    display: none;
  }

  .right-img {
    display: none;
  }

  .tablet-img {
    display: none;
  }

  .phone-img {
    display: block;
  }

}

@media screen and (max-width: 500px) {
  .hero-section {
    margin-top: 64px;
    overflow-x: hidden;
  }

  h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 43px;
    line-height: 110%;
    color: var(--slate-color);
  }

  .hero-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  button {
    width: fit-content;
  }

  .hero-contents {
    margin-top: 87px;
    text-align: center;
    max-width: 305px;
  }
}